.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #4e4e4e;
}
.home-container1 {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  padding-top: 11px;
  border-color: #272727;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 10px;
  justify-content: space-between;
  background-color: #313131;
}
.home-text {
  color: #e2e2e2;
  font-size: 50px;
  align-self: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: 563px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 14px;
  flex-direction: row;
  padding-bottom: 22px;
  justify-content: center;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.home-icon {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
}
.home-text01 {
  font-size: 20px;
  transition: 0.4s;
}
.home-text01:hover {
  font-size: 25;
}
.home-text02 {
  color: #c1c1c1;
}
.home-icon3 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-text03 {
  font-size: 20px;
  transition: 0.4s;
}
.home-text03:hover {
  font-size: 25;
}
.home-text04 {
  color: #c1c1c1;
}
.home-icon5 {
  fill: #D9D9D9;
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-text05 {
  font-size: 20px;
  transition: 0.4s;
}
.home-text05:hover {
  font-size: 25;
}
.home-text06 {
  color: #c1c1c1;
}
.home-icon7 {
  fill: #D9D9D9;
  width: 24px;
  align-self: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-navlink {
  font-size: 20px;
  transition: 0.4s;
}
.home-navlink:hover {
  font-size: 25;
}
.home-text07 {
  color: #c1c1c1;
}
.home-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 874px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: flex-start;
  border-color: #1c1c1c;
  border-style: ridge;
  border-width: 10px;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(180deg, rgb(68, 68, 68) 0.00%,rgb(23, 23, 23) 100.00%);
}
.home-hero:hover {
  font-size: 25;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-style: inset;
  border-width: 4px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2f2f2f;
}
.home-image {
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text08 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-container2 {
    width: 359px;
    margin-right: 0px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
